In [1]:
import pandas as pd
import os

In [2]:
current_path = os.getcwd()
print(current_path)

c:\Users\sepujas\Dev\mat\notebooks

In [3]:
base_path = os.path.abspath(os.path.join(current_path, os.pardir))
print(base_path)

c:\Users\sepujas\Dev\mat

In [4]:
zmm00_or_file_path = os.path.join(base_path, 'data', 'raw', 'tbl_zmm00_or.txt')
print(zmm00_or_file_path)
zmm00_or_preprocessed_path = os.path.join(base_path, 'data', 'preprocessed', 'tbl_zmm00_or_file_path.csv')
print(zmm00_or_preprocessed_path)

c:\Users\sepujas\Dev\mat\data\raw\tbl_zmm00_or.txt
c:\Users\sepujas\Dev\mat\data\preprocessed\tbl_zmm00_or_file_path.csv

In [5]:
df_zmm00_or = pd.read_csv(zmm00_or_file_path, sep='\t', skiprows=3, encoding='latin1')

In [6]:
df_zmm00_or.head()

,Unnamed: 0,Region,Plnt,PGr,Descriptn,Reserv.no.,Itm,Material,Material Description,Base date,...,Name,Customer,MRPC.D,Name.1,MRPC.S,Name.2,D797 uCnt,D797 date,CommentBU,CommentMO
0,NaN,NaN,3000,L02,NaN,13530261,3,2210272,Ultimate exp anc KB-TZ2 5/8x5 1/2,13.09.2024,...,NaN,NaN,L02,NaN,NaN,NaN,0,NaN,NaN,NaN
1,NaN,NaN,3000,L02,NaN,13530261,1,2362253,"Kwik-X capsule KHC 5/8"" LARGE",13.09.2024,...,NaN,NaN,L02,NaN,NaN,NaN,0,NaN,NaN,NaN
2,NaN,NaN,3000,L01,NaN,13530261,4,2139254,Anchor rod HIT-Z-D TP M16x205,13.09.2024,...,NaN,NaN,L01,NaN,NaN,NaN,0,NaN,NaN,NaN
3,NaN,NaN,3000,L02,NaN,13530261,2,2159998,Heavy-duty anchor HSL-3-GR M12 25/-/-,13.09.2024,...,NaN,NaN,L02,NaN,NaN,NaN,0,NaN,NaN,NaN
4,NaN,NaN,8750,L05,NaN,13530192,5,2076478,Core bit C+ 30/300 SPX-T abras,13.09.2024,...,NaN,NaN,L05,NaN,NaN,NaN,0,NaN,NaN,NaN

In [7]:
unnamed_columns = [col for col in df_zmm00_or.columns if 'Unnamed:' in col]
df_zmm00_or.drop(columns=unnamed_columns, inplace=True)
column_titles = df_zmm00_or.columns.tolist()
new_column_titles = {col: col.strip().replace(' ', '_').replace('-','_').replace('.','') for col in column_titles}
df_zmm00_or.rename(columns=new_column_titles, inplace=True)

In [8]:
column_counts = df_zmm00_or.columns.value_counts()
duplicate_columns = column_counts[column_counts > 1].index

In [9]:
for col in duplicate_columns:
    col_indices = [i for i, x in enumerate(df_zmm00_or.columns) if x == col]
    for j, index in enumerate(col_indices):
        df_zmm00_or.columns.values[index] = f"{col}_{j+1}"

In [10]:
df_zmm00_or.columns.to_list()

['Region',
 'Plnt',
 'PGr',
 'Descriptn',
 'Reservno',
 'Itm',
 'Material',
 'Material_Description',
 'Base_date',
 'Orig_Date',
 'ReqmtsDate',
 'Confirmed',
 'Ship_Code',
 'Descript',
 'ItCa',
 'Reqmnt_qty',
 'Status',
 'Reference',
 'Diff_Days',
 'Ext_OrdNo',
 'Ext_OrdPo',
 'Created_on',
 'ActMatAvDt',
 'Conf_Qty',
 'Conf_Date',
 'Ship_to',
 'Plnt1',
 'Pur_Doc',
 'Item',
 'Quantity',
 'AlrtExists',
 'DDNP',
 'DSLU',
 'DDGT',
 'NOC',
 'WRGT',
 'AlrtSum',
 'Goods_Supp',
 'Name',
 'Customer',
 'MRPCD',
 'Name1',
 'MRPCS',
 'Name2',
 'D797_uCnt',
 'D797_date',
 'CommentBU',
 'CommentMO']

In [11]:
df_zmm00_or.dtypes

Region                  float64
Plnt                      int64
PGr                      object
Descriptn               float64
Reservno                  int64
Itm                       int64
Material                  int64
Material_Description     object
Base_date                object
Orig_Date                object
ReqmtsDate               object
Confirmed                object
Ship_Code                 int64
Descript                 object
ItCa                     object
Reqmnt_qty               object
Status                   object
Reference                object
Diff_Days                 int64
Ext_OrdNo               float64
Ext_OrdPo               float64
Created_on               object
ActMatAvDt               object
Conf_Qty                 object
Conf_Date                object
Ship_to                  object
Plnt1                   float64
Pur_Doc                 float64
Item                    float64
Quantity                 object
AlrtExists                int64
DDNP                      int64
DSLU                      int64
DDGT                      int64
NOC                       int64
WRGT                      int64
AlrtSum                   int64
Goods_Supp              float64
Name                    float64
Customer                float64
MRPCD                    object
Name1                   float64
MRPCS                   float64
Name2                   float64
D797_uCnt                 int64
D797_date                object
CommentBU               float64
CommentMO               float64
dtype: object

In [12]:
df_zmm00_or.head()

,Region,Plnt,PGr,Descriptn,Reservno,Itm,Material,Material_Description,Base_date,Orig_Date,...,Name,Customer,MRPCD,Name1,MRPCS,Name2,D797_uCnt,D797_date,CommentBU,CommentMO
0,NaN,3000,L02,NaN,13530261,3,2210272,Ultimate exp anc KB-TZ2 5/8x5 1/2,13.09.2024,08.10.2024,...,NaN,NaN,L02,NaN,NaN,NaN,0,NaN,NaN,NaN
1,NaN,3000,L02,NaN,13530261,1,2362253,"Kwik-X capsule KHC 5/8"" LARGE",13.09.2024,08.10.2024,...,NaN,NaN,L02,NaN,NaN,NaN,0,NaN,NaN,NaN
2,NaN,3000,L01,NaN,13530261,4,2139254,Anchor rod HIT-Z-D TP M16x205,13.09.2024,22.11.2024,...,NaN,NaN,L01,NaN,NaN,NaN,0,NaN,NaN,NaN
3,NaN,3000,L02,NaN,13530261,2,2159998,Heavy-duty anchor HSL-3-GR M12 25/-/-,13.09.2024,22.11.2024,...,NaN,NaN,L02,NaN,NaN,NaN,0,NaN,NaN,NaN
4,NaN,8750,L05,NaN,13530192,5,2076478,Core bit C+ 30/300 SPX-T abras,13.09.2024,13.12.2024,...,NaN,NaN,L05,NaN,NaN,NaN,0,NaN,NaN,NaN

In [13]:
def transform_columns(df):
    str_columns = [
        'PGr', 'Material_Description', 'Confirmed', 'Descript', 'ItCa', 'Status', 'Reference', 'ActMatAvDt', 'Conf_Qty', 'Ship_to', 'MRPCD']
    for col in str_columns:
        df[col] = df[col].astype(str).str.strip()

    numeric_columns = ['Region', 'Plnt', 'Descriptn', 'Reservno', 'Itm', 'Material', 'Ship_Code', 'Diff_Days', 'Ext_OrdNo', 'Ext_OrdPo', 'Plnt1', 'Pur_Doc', 'Item', 'AlrtExists', 'DDNP', 'DSLU', 'DDGT', 'NOC', 'WRGT', 'AlrtSum', 'Goods_Supp', 'Name', 'Customer', 'Name1', 'MRPCS', 'Name2', 'D797_uCnt', 'CommentBU', 'CommentMO']
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int).astype(str)

    df['Reqmnt_qty'] = df['Reqmnt_qty'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
    df['Quantity'] = df['Quantity'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)


    date_columns = ['Base_date', 'Orig_Date', 'ReqmtsDate', 'Created_on', 'Conf_Date', 'D797_date']
    for col in date_columns:
        df[col] = pd.to_datetime(df[col], errors="coerce", format='%d.%m.%Y')

transform_columns(df_zmm00_or)

In [14]:
df_zmm00_or.dtypes

Region                          object
Plnt                            object
PGr                             object
Descriptn                       object
Reservno                        object
Itm                             object
Material                        object
Material_Description            object
Base_date               datetime64[ns]
Orig_Date               datetime64[ns]
ReqmtsDate              datetime64[ns]
Confirmed                       object
Ship_Code                       object
Descript                        object
ItCa                            object
Reqmnt_qty                     float64
Status                          object
Reference                       object
Diff_Days                       object
Ext_OrdNo                       object
Ext_OrdPo                       object
Created_on              datetime64[ns]
ActMatAvDt                      object
Conf_Qty                        object
Conf_Date               datetime64[ns]
Ship_to                         object
Plnt1                           object
Pur_Doc                         object
Item                            object
Quantity                       float64
AlrtExists                      object
DDNP                            object
DSLU                            object
DDGT                            object
NOC                             object
WRGT                            object
AlrtSum                         object
Goods_Supp                      object
Name                            object
Customer                        object
MRPCD                           object
Name1                           object
MRPCS                           object
Name2                           object
D797_uCnt                       object
D797_date               datetime64[ns]
CommentBU                       object
CommentMO                       object
dtype: object

In [15]:
df_zmm00_or['key_plant'] = df_zmm00_or['Plnt'] + '/' + df_zmm00_or['Material']
df_zmm00_or['key_plant'] = df_zmm00_or['key_plant'].astype(str).str.strip()

In [16]:
df_zmm00_or.to_csv(zmm00_or_preprocessed_path, index=False)